body {
    margin: 0;
    padding: 0;
    background-color:#202124;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/* HEADER STYLING */
header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav_right_section {
    width: 250px;
    height: auto;
    display:flex;
    list-style-type:none;
    justify-content: center;
    align-items: center;
}


nav .nav_right_section a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav .nav_right_section a:hover {
    color: white;
    text-decoration: underline;
    
}

nav .nav_right_section .menu {
    background-image: url("../imagenes/google_apps.png");
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 15px;
    background-size: contain;
}


nav .nav_right_section .profile_pic {
    width: 35px;
    border-radius: 50%;
}

/* MAIN SECTION STYLING */
main {
    margin-top: 50px;
    text-align: center;
    height: 300px;
}

main .logo img{
    margin-top: 10px;
    margin-bottom: 20px;
}

main .main_input {
    margin-bottom: 30px;
}

main .main_input_container {
    display: flex;
    align-items: center;
    justify-content: center;

}

main .main_input input{
    border-radius: 180px;
    border-style: solid;
    border-width: 1px;
    text-indent: 25px;
    border-color:  #5F6368;
    background-color: #202124;
    width: 580px;
    height: 40px;
    outline: none;
    background-image: url("../imagenes/lupa.png"), url("../imagenes/google_lens.png");
    background-position-y: center, center;
    background-position-x: 15px, 540px;
    background-repeat: no-repeat;
    background-size: 13px, 20px;
    display: inline-block;
    caret-color: white;
}

main .main_input input:focus{
    background-color: #2e2e2f;
}

main .main_input input:hover{
    border: none;
    margin-top: 2px;
    border-color:  #9a9b9d;
    background-color: #2e2e2f;
}


main .search_buttons{
    display: inline-block;
}

main .search_buttons button{
    background-color: #303135;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    border: none;
    margin-left: 10px;
    width: 150px;
    height: 35px;
}

main .search_buttons a{
    line-height: 35px; 
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

main .search_buttons button:hover{
    background-color: #303135;
    color: white;
    border-radius: 3px;
    border-color:  #8a8a8a;
    cursor: pointer;
    border-width: thin;
    font-size: 14px;
    border-style:solid;
    margin-left: 10px;
    width: 150px;
    height: 35px;
}

main .offered_by .credits{
    margin-top: 30px;
    color: #babbbc;
}

main .offered_by .credits .language{
    display: inline-block;
    margin-left: 5px;
    margin-top: 1px;
    color: rgb(67, 164, 228);   
}

main .offered_by .credits .language:hover{
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 2px;
    color: rgb(67, 164, 228);   
    text-decoration: underline;
}

/* FOOTER STYLING */
footer {
    height: 80px;
    width: 1463px;
    bottom: 0;
    position: absolute;
    color:#9a9b9d;
}

footer .top_footer{
    background-color: rgb(28, 27, 27);
    height: 45px;
    width:100%;
    display:flex;
    padding-left: 30px;
    bottom: 45;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #5F6368;
    position: absolute;
    text-align: left;
    align-items: center;
    font-size: 15px;
    overflow: hidden;
}

footer .bottom_footer{
    background-color: rgb(28, 27, 27);
    height: 30px;
    bottom: 0;
    position: absolute;
}


footer .bottom_footer .left_bottom{
    display: inline;
    padding-left: 5px;
    align-items: center;
    width: 800px;
    font-size: 14px;
    display:flex;
    height: 30px;
    bottom: 0;
    position: absolute;
}

footer .bottom_footer .left_bottom a{
    color:#9a9b9d; 
    text-decoration: none;
}

footer .bottom_footer .left_bottom a:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer .bottom_footer .right_bottom{
    display: inline;
    padding-left: 5px;
    align-items: center;
    width: 50px;
    font-size: 14px;
    display:flex;
    position:absolute;
    height: 30px;
    bottom: 0;
    left: 1100px;
}

footer .bottom_footer .right_bottom a{
    color:#9a9b9d; 
    text-decoration: none;
}

footer .bottom_footer .right_bottom a:hover{
    cursor: pointer;
    text-decoration: underline;
}

